.hover-effect {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

.hover-effect:hover {
  transform: scale(1.05);
  color: #0844A1; 
  background-color: white;
}